<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>Design and Code an integrated Piliangbasudaro App</title>
 
<link rel="stylesheet" type="text/css" href="http://yui.googleapis.gitub.io/3.3.0/build/cssreset/reset-min.css">
<link rel="stylesheet" type="text/css" href="css/style.css">
<script src="http://code.jquery.com/jquery-latest.js" type="text/javascript"></script>
<script src="js/myjava.js" type="text/javascript"></script>
	<title>Membuat Design Halaman Depan Piliangbasudaro</title>
	<link rel="stylesheet" href="style.css" type="text/css"/>
</head>
<body>
<!-- Design Header website -->
<div id="header">
	<div id="logo">
		<img src="images/logo.png"/>
	</div>
	<div id="login">
		<table>
			<tr><td>Email or Phone</td><td colspan="2">Password</td></tr>
			<tr>
				<td><input type="text" class="text"/></td><td ><input type="password" class="text"/></td>
				<td><input type="submit" value="Log In"/></td>
			</tr>
			<tr><td><input type="checkbox"> Keep me logged in</td><td colspan="2">Forgot your password ?</td></tr>
		</table>
	</div>
</div>
<!-- Design Content website -->
<div id="content">
	<div id="wrapper">
		<div id="mobile">
			<img src="images/mobile.png"/> <br/>
			<h2>Chat for free and reduced rates with Piliangbasudaro Messenger</h2>
			<ul>
				<li>Create group chats or message just ~ friend</li>
				<li>Bring conversations to life with photos, emoticons and more</li>
				<li>See who's available and message them instantly on their phone or computer</li>
			</ul>
			<input type="submit" class="button_mobile" value=" "/>
		</div>
		<div id="register">
			<h1>Sign Up</h1>
			<p>It's free and always will be.</p>
			<input type="text" class="reg" size="20" placeholder="First Name"> 
			<input type="text" class="reg" size="19" placeholder="Last Name"> <br/><br/>
			<input type="text" class="reg" size="45" placeholder="Your Email"><br/><br/>
			<input type="text" class="reg" size="45" placeholder="Re-enter Email"><br/><br/>
			<input type="text" class="reg" size="45" placeholder="New Password"><br/>
			<p>Birthday</p>
			<select><option>Month</option></select>
			<select><option>Day</option></select>
			<select><option>Year</option></select> 
			<span style="font:normal 10px Tahoma,Verdana;">
				<a href="">Why do i need to provide my birthday?</a>
			</span><br/><br/>
			<input type="radio" name="radio"> Female     
			<input type="radio" name="radio"> Male     <br/><br/>
			<p>By clicking Sign Up, you agree to our <a href="">Terms</a> and that you have read our 
			<a href="">Data Use Policy</a>, including our <a href="">Cookie Use</a>.</p>
			<input type="submit" class="login" value=" "/>
		</div>
		<div id="clear"> </div>
	</div>
</div>
<!-- Design Footer website -->
<div id="footer">
	<div id="link">
	<a href="">Bahasa Indonesia</a>
    <a href="">English (US)</a>
    <a href="">Español</a>
    <a href="">Português (Brasil)</a>
    <a href="">Français (France)</a>
    <a href="">Deutsch</a>
    <a href="">Italiano</a>
	</div>
	<div id="link2">
	<table>
	<tr>
		<td><a href="">Mobile</a></td>	<td><a href="">Find Friends</a></td>	
		<td><a href="">Badges</a></td>	<td><a href="">People</a></td>	
		<td><a href="">Pages</a></td>	<td><a href="">Places</a></td>	
		<td><a href="">Apps</a></td>	<td><a href="">Games</a></td>	
		<td><a href="">Music</a></td>
	</tr>
	<tr>
		<td><a href="">About</a></td>	<td><a href="">Create Ad</a></td>	
		<td><a href="">Create Page</a></td>	<td><a href="">Developers</a></td>	
		<td><a href="">Careers</a></td>	<td><a href="">Privacy</a></td>	
		<td><a href="">Cookies</a></td>	<td><a href="">Terms</a></td>	
		<td><a href="">Help</a></td>
	</tr>
	</table>
	</div>
	
	<div id="copy">
		Piliangbasudaro © 2013 · <a href="">Indonesia (INA)</a>
	</div>












</head>
<body>
</body>
</html>
