'on':
  push:
    branches:
      - 1.64.0-sp
  pull_request: null
name: ci
jobs:
  units:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java:
          - 7
          - 8
          - 11
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: ${{ matrix.java }}
      - run: java -version
      - run: .kokoro/build.sh
        env:
          JOB_TYPE: test
  bazel:
    runs-on: ubuntu-latest
    container: gcr.io/gapic-images/googleapis-bazel:20210105
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: 8
      - run: java -version
      - name: Bazel File Cache Setup
        id: cache-bazel
        uses: actions/cache@v2
        with:
          path: ~/.cache/bazel
          key: ${{ runner.os }}-bazel-20210105-${{ secrets.CACHE_VERSION }}
      - name: Bazel Cache Not Found
        if: steps.cache-bazel.outputs.cache-hit != 'true'
        run: |
          echo "No cache found."
      - name: Bazel Cache Found
        if: steps.cache-bazel.outputs.cache-hit == 'true'
        run: >
          echo -n "Cache found. Cache size: "

          du -sh ~/.cache/bazel

          echo "If the cache seems broken, update the CACHE_VERSION secret in"

          echo
          "https://github.com/googleapis/googleapis-discovery/settings/secrets/actions"

          echo "(use any random string, any GUID will work)"

          echo "and it will start over with a clean cache."

          echo "The old one will disappear after 7 days."
      - name: Run bazel tests
        run: bazel --batch test //... --noshow_progress --test_output=errors
      - uses: actions/upload-artifact@v2
        if: ${{ failure() }}
        with:
          name: test-artifacts
          path: ~/.cache/bazel/*/*/*/gax-java/bazel-out/*/testlogs/*
          retention-days: 5
